.isPage404Footer
    height 0
    visibility: hidden
    background: red
    padding 0
    margin: 0
.Footer
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background #f6f6f6
    color:#372F2D
    margin-bottom: 50px
    
    &-contenedor 
        width: 70%
    p i
        color #f7fa00
        padding 5px