.MainFooter
    background-color gray
    padding 3% 3% 4% 3%
    color white
    
    &-contenedor 
        display flex
        justify-content space-between

    &-contenedor p
            margin: 10px

    &-social
        display flex
        justify-content space-around
        cursor pointer
        
        img
            width 30px
            margin 3px

    &-copyright     
        display flex
        justify-content center
