
.Services
  padding 0% 10%  5% 10%
  text-align center

  h1    
    margin 50px 50px
    font-size 50px
    font-weight: 900;
    
  h2
    font-size 40px
    font-weight: 700;

  h3
    color #372F2D
    font-size 30px
    font-weight: bolder;
    
  h4
    font-size 20px  
    font-weight bold
    color #2D4249  
  strong 
    color #f7fa00
    
  &-bg img
    margin-left: -130px
    margin-right 0
    height 85vh
    width: 99vw
    opacity: 0.5
    position: relative;
    display: inline-block;
    text-align: center;
    background-size: cover;

  &-bg button
    background-color: yellow
    border: none;
    border-radius: 25px;
    color #2D4249
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family:  sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 15px 5px;
    
   &-bg button:hover 
    color gray  

  .info 
    border-radius 0px 0px 10px 10px
    width: 700px   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  &-heading
    margin 3%
    color #372F2D  
    

  &-items
    margin-top 5%
    grid-template-columns repeat(3, 1fr)
    grid-gap 1.5rem
    grid-row-ga 1.5em
    display grid

  &-item
    text-decoration none
    box-shadow 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03)
    border-radius 10px   
    position relative
    background-color #f7fa00
    
    &-info
      border-radius 0px 0px 10px 10px
      background-color #fff
      padding 10px  
      p
        text-align: left
        font-size 15px
        font-weight 300

      p i
        color #f7fa00
        padding 5px

    img
      padding 20px
      width 100%
      height 130px
      object-fit contain

    button
      width 100%
      padding 10px
      border-radius 10px 10px 10px 10px
      border 2px    
      background-color black
      color white
      font-weight bold     
      cursor pointer
      font-size 16px
      margin-top: 15px
      
  
      &:hover
        background-color: gray
        color #372F2D
        
        
      


    
      

